h1 {
		font-size: 80px;
		margin-bottom: 15px;
		color: white;
		text-align: center;
		text-decoration: underline;
		background-color: blue;
	}

.container{
	margin: 0 auto;
	width: 1024px;
}

#main-bio{
	float: left;
	width: 70%;
}

#contact-info{
	float: left;
	width: 30%;

}

#bio-image{
	float: left;
	width: 200px;
	margin: 20px;
}

body {
	background-color: #efeee7;
	margin: 0;
	padding: 0;
	font-family: "Georgia", "Times New Roman", "Times", Times Serif;
	color: #333333;
}

header {
	background-color: #333333;
}

h2 {
	font-size: 24px;
}